@model IEnumerable<AL.Events.WEB.Models.AdViewModel>

@{ 
    Layout = null;
}

<div class="form-horizontal">
    <div class="form-group">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <a href="@item.Link">
                    <img src="data:image;base64,@item.Image" alt="Advert image" class="img-thumbnail img-responsive" />
                </a>
                <p class=" text-info text-left"> @item.Description</p>
            </div>
        }
    </div>
</div>
