<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdvertisingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51525/AdvertisingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdvertisingService"
                contract="AdvertisingService.IAdvertisingService" name="BasicHttpBinding_IAdvertisingService" />
        </client>
    </system.serviceModel>
</configuration>