
@{
    ViewBag.Title = "About";
}

<h2>About Events</h2>

<div class="row">
    <div class="col-md-9">
        <p> Приложение позволяет размещать информацию о предстоящих событиях, просматривать и редактировать эти данные.</p>
        <p> Система имеет возможность навигации по категоиям. Реализована страница поиска по конкретным критериям: дата, название, статус.</p>
        <p> Система обладает аутентификацией и авторизацией. А так же может работать в 4-х режимах:</p>
        <ul>
            <li>Гость</li>
            <li>Пользователь</li>
            <li>Редактор</li>
            <li>Администратор</li>
        </ul>
    </div>
</div>
