
@{
    ViewBag.Title = "About";
}

<h2>About Events</h2>

<div class="row">
    <div class="col-md-9">
        <p> Application allows us to store information about upcoming events, edit and watch its data.</p>
        <p> You have the ability to navigate categories. Also there is search page by: date, name, status.</p>
        <p>It has authentication and authorization and can be started as following modes:</p>
        <ul>
            <li>Guest</li>
            <li>User</li>
            <li>Editor</li>
            <li>Admin</li>
        </ul>
    </div>
</div>
