@model IEnumerable<AL.Events.WEB.Models.EventViewModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Date</td>
            <td>@item.Address</td>
            <td>@item.Location</td>
        </tr>

    }
}
